---
---

@import "{{ site.theme }}";
#header {
  display: none;
  visibility: hidden;
}
#title {
  display: none;
  visibility: hidden;
}

details > summary {
    list-style-type: '▶ ';
}

details[open] > summary {
    list-style-type: '▼ ';
}
